@model CalcModels.Franchisee.AddFranchisee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AddFranchisee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FranchiseeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FranchiseeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerLast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerLast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
